<div class="header"></div>
<div class="fondo ">
  <div class="anuncio">
    <div class="pregunta">¿Quieres vender un producto o servicio?</div>
    <div class="texto">
      En Market-UADY además de comprar, también puedes publicar tu emprendimiento
    </div>
    <div class="buttonEmpezar">
      <button type="button" class="btn">Empezar</button>
    </div>
  </div>
</div>
<div class="contenedor">
  <div class="filtros container">
    <h4>Filtros</h4>
    <h5>Filtrar por campus</h5>
    <cdk-virtual-scroll-viewport itemSize="50" class="scrollFiltro">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Arquitectura, Hábitat, Arte y Diseño
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ciencias Biológicas y Agropecuarias
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ciencias de la Salud
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ciencias Sociales, Económico-Administrativas y Humanidades
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ciencias Exactas e Ingenierías
          </label>
        </div>
      </cdk-virtual-scroll-viewport>
    <h5>Filtrar por facultad</h5>
    <cdk-virtual-scroll-viewport itemSize="50" class="scrollFiltro">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Arquitectura, Hábitat, Arte y Diseño
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ciencias Biológicas y Agropecuarias
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ciencias de la Salud
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ciencias Sociales, Económico-Administrativas y Humanidades
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ciencias Exactas e Ingenierías
          </label>
        </div>
      </cdk-virtual-scroll-viewport>
  </div>
  <div>
    
  </div>
  <cdk-virtual-scroll-viewport itemSize="50" class="scroll ">
    <div class="lista-articulos">
      <div class="item">
        <div class="imagen">
          <img src="../../../../assets/torta.jpg"  class="rounded"/>
        </div>
        <div class="nombreArticulo">Torta de jamón y queso</div>
        <div class="precioArticulo">{{25 | currency}}</div>
      </div>
      <div class="item">
        <div class="imagen">
          <img src="../../../../assets/licuado.jpg" class="rounded" />
        </div>
        <div class="nombreArticulo">Licuado de platano</div>
        <div class="precioArticulo">{{20 | currency}}</div>
      </div>
      <div class="item">
        <div class="imagen">
          <img src="../../../../assets/galleta.jpg"class="rounded" />
        </div>
        <div class="nombreArticulo">Galleta</div>
        <div class="precioArticulo">{{26 | currency}}</div>
      </div>
      <div class="item">
        <div class="imagen">
          <img src="../../../../assets/tarea.jpeg" class="rounded"/>
        </div>
        <div class="nombreArticulo">Tarea</div>
        <div class="precioArticulo">{{100 | currency}}</div>
      </div>
      <div class="item">
        <div class="imagen">
          <img src="../../../../assets/salbute.jpeg" class="rounded"/>
        </div>
        <div class="nombreArticulo">Salbutes</div>
        <div class="precioArticulo">{{18 | currency}}</div>
      </div>
      <div class="item">
        <div class="imagen">
          <img src="../../../../assets/taco.webp" class="rounded" />
        </div>
        <div class="nombreArticulo">Tacos</div>
        <div class="precioArticulo">{{12 | currency}}</div>
      </div>
      <div class="item">
        <div class="imagen">
          <img src="../../../../assets/guitarra.jpg" class="rounded" />
        </div>
        <div class="nombreArticulo">Guitarra</div>
        <div class="precioArticulo">{{1200 | currency}}</div>
      </div>

    </div>
  </cdk-virtual-scroll-viewport>
</div>
